<%= render partial: 'admin/common/admin_nav', locals: {index: 1} %>
<%= render 'admin/common/post_comment_filter' %>
<div class="comments-mng">
  <%= render 'comments_paginate_bar' %>
  <table class="table table-hover">
    <thead>
    <th style="width: 400px"><%= t('global.content') %></th>
    <th style="width: 100px"><%= t('global.board') %></th>
    <th style="width: 200px"><%= t('global.post') %></th>
    <th><%= t('global.author') %></th>
    <th><%= t('admin.comments.commented_at') %></th>
    <th>IP</th>
    <th><%= t('global.status') %></th>
    <th><%= t('global.operate') %></th>
    </thead>
    <tbody>
    <%= render @comments %>
    </tbody>
  </table>
  <%= render 'comments_paginate_bar' %>
</div>