<tr id="node-<%= category.id %>">
  <td><%= category.id %></td>
  <td><span class="glyphicon glyphicon-folder-close"></span></td>
  <td><%= link_to category.name, admin_elite_nodes_path(parent_id: category.id, status: params[:status]) %></td>
  <td></td>
  <td><%= user_link category.moderator if category.layer > 0 %></td>
  <td><%= time_date category.updated_at if category.layer > 0 %></td>
  <td><%= category.order %></td>
  <td><%= category.layer %></td>
  <td><%= category.deleted %></td>
  <td>
    <%= link_to_unless category.layer == 0, t('views.action.order_up'), order_up_admin_elite_node_path(category), method: :patch %>
    <%= link_to_unless category.layer == 0, t('views.action.order_down'), order_down_admin_elite_node_path(category), method: :patch %>
    <% if category.layer > 0 %>
        <%= link_to_unless category.deleted?, t('views.action.delete'), admin_elite_node_path(category), method: :delete, remote: true %>
        <%= link_to_if category.deleted?, t('views.action.resume'), resume_admin_elite_node_path(category), method: :patch, remote: true %>
    <% end %>
    <%= link_to_unless category.layer == 0, t('views.action.edit'), edit_admin_elite_category_path(category) %>
  </td>
</tr>