<% content_for :title do %>
    <%= t('users.update_user') %>
<% end %>

<div class="update-user-form">
  <h3 class="title"><%= t('users.update_user') %></h3>
  <%= render partial: 'users/update_nav', locals: {index: 4} %>
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put, :role => 'form'}) do |f| %>
      <%= f.input :name, label: t('users.user_name'), hint: t('users.user_name_hint'), autofocus: true %>
      <%= f.input :email, label: t('users.email'), hint: devise_mapping.confirmable? && resource.pending_reconfirmation? ? t('users.email_edit_hint', unconfirmed_email: resource.unconfirmed_email) : '' %>

      <p><%= t('users.keep_blank_if_not_change_password') %></p>
      <%= f.input :password, label: t('users.password'), hint: t('users.password_hint'), autocomplete: 'off' %>
      <%= f.input :password_confirmation, label: t('users.password_confirmation'), hint: t('users.password_confirmation_hint') %>

      <fieldset>
        <p><%= t('users.need_password_before_update_user') %></p>
        <%= f.input :current_password, label: t('users.current_password'), autocomplete: 'off' %>
      </fieldset>
      <div class="btn-container">
        <%= f.submit t('action.update'), :class => 'button' %>
      </div>
  <% end %>
</div>
