<% content_for :title do %>
    <%= t('users.sign_up') %>
<% end %>

<% content_for :left_side do %>
    &nbsp;
<% end %>

<div class="register-form">
  <% if session_github_token %>
    <% @user_info = user_info_for_token(session_github_token) %>
    <% @ogx_user_info = github_acc_info_to_ogx_acc_info(@user_info) %>
    <% update_user_with_translated_info_from_github(@user, @ogx_user_info, false) %>
    <% @user = resource %>
  <% end %>
  <%= simple_form_for resource, as: resource_name, url: registration_path(resource_name), html: {role: 'form'} do |f| %>
    <% if session_github_token %>
      <h3><%= t('users.sign_up_with_github') %></h3>
    <% else %>
      <h3><%= t('users.sign_up') %></h3>
    <% end %>
    <%= f.input :name, label: t('users.user_name'), hint: t('users.user_name_hint'), autofocus: true, required: false,
        input_html: {autocapitalize: "off", autocorrect: "none", spellcheck: "false"} %>
    <%= f.input :nick, label: t('users.nick'), hint: t('users.nick_hint'), required: false %>
    <%= f.input :email, label: t('users.email'), hint: t('users.email_hint'), required: false %>
    <%= f.input :password, label: t('users.password'), hint: t('users.password_hint'), required: false %>
    <%= f.input :password_confirmation, label: t('users.password_confirmation'), hint: t('users.password_confirmation_hint'), required: false %>
    <%= f.input :github_access_token, as: "hidden" , required: false, input_html: { value: session_github_token } %>
    <%= f.input :github_id, as: "hidden" , required: false %>
    <%= f.input :github_user_name, as: "hidden" , required: false %>
    <% if session_github_token %>
      <%= f.button :submit, t('action.finish_sign_up'), class: 'button right' %>
    <% else %>
      <%= f.button :submit, t('action.sign_up'), class: 'button right' %>
    <% end %>
  <% end %>
</div>
