<% content_for :title do %>
    <%= t('users.sign_up') %>
<% end %>

<% content_for :left_side do %>
    &nbsp;
<% end %>

<div class="register-form">
  <%= simple_form_for resource, as: resource_name, url: registration_path(resource_name), html: {role: 'form'} do |f| %>
      <h3><%= t('users.sign_up') %></h3>
      <%= f.input :name, label: t('users.user_name'), hint: t('users.user_name_hint'), autofocus: true, required: false %>
      <%= f.input :nick, label: t('users.nick'), hint: t('users.nick_hint'), required: false %>
      <%= f.input :email, label: t('users.email'), hint: t('users.email_hint'), required: false %>
      <%= f.input :password, label: t('users.password'), hint: t('users.password_hint'), required: false %>
      <%= f.input :password_confirmation, label: t('users.password_confirmation'), hint: t('users.password_confirmation_hint'), required: false %>
      <%= f.button :submit, t('action.sign_up'), class: 'button right' %>
  <% end %>
</div>
