<div id="comment-for-<%= commentable.class.to_s %>-<%= commentable.id %>" class="comment-panel">
  <div class="content-wrapper">
    <%= render partial: '/comments/form', locals: {comment: @comment, hidden: false} %>
  </div>
  <ul id="comment-0" class="comment-list">
  </ul>
</div>
<script type="text/javascript">
    <% commentable.comments.pub.desc(:thread).each do |comment| %>
    $('#comment-for-<%= comment.commentable_type %>-<%= comment.commentable_id %>').find('ul#comment-<%= comment.parent_id %>').append("<%= j render comment %>");
    <% end %>
    $("textarea").autosize({append: false}).trigger("change");
</script>
