<div class="comment-panel comment-for-<%= commentable.class.to_s %>-<%= commentable.id %>" data-commentable-type="<%= commentable.class.to_s %>" data-commentable-id="<%= commentable.id %>">
  <% if policy(@comment.commentable).comment? %>
      <%= render partial: '/comments/form', locals: {comment: @comment} %>
  <% end %>
  <ul id="comment-0" class="comment-list">
  </ul>
</div>
<script type="text/javascript">
    <% commentable.comments.normal.desc(:thread, :created_at).each do |comment| %>
    $('.comment-for-<%= comment.commentable_type %>-<%= comment.commentable_id %>').find('ul#comment-<%= comment.parent_id %>').append("<%= j render comment %>");
    <% end %>
</script>
