<div class="comment-form clearfix">
  <%= simple_form_for comment, remote: true, html: {class: "touclick"} do |f| %>

      <div class="avatar">
        <%= avatar current_user, 40 %>
      </div>
      <div class="form-group">
        <div class="form-inputs">
          <%= f.text_area :body, class: 'form-control comment-form-body', placeholder: "添加评论" %>
          <%= f.input :parent_id, as: :hidden %>
          <%= f.input :commentable_type, as: :hidden %>
          <%= f.input :commentable_id, as: :hidden %>
        </div>

        <div class="footer">
          <div class="form-actions">
            <%= f.submit '发表', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
  <% end %>
</div>
