<div class="comment-form clearfix <%= "hide" if hidden %>">
  <%= simple_form_for comment, remote: true do |f| %>

      <div class="avatar">
        <%= avatar current_user, 40 %>
      </div>
      <div class="form-group">
        <div class="form-inputs">
          <%= f.text_area :body, class: 'form-control comment-form-body', placeholder: t('comments.textarea_placeholder') %>
          <%= f.input :commentable_type, as: :hidden %>
          <%= f.input :commentable_id, as: :hidden %>
        </div>

        <div class="footer">
          <div class="tips"><%= t('comments.words_limit', number: '<span class="left-number">200</span>').html_safe %></div>
          <div class="form-actions">
            <%= f.submit t('action.post'), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
  <% end %>
</div>
