<li id="comment-<%= comment.id %>" class="simple-comment-item">
  <div class="avatar pull-left">
    <%= avatar comment.user, 40 %>
  </div>
  <div class="details clearfix">
    <div class="author-time">
      <span class="author"><%= full_user_link comment.user %></span>
      ·
      <span class="time"><%= time_digest comment.created_at %></span>
      <div class="pull-right actions">
        <% if policy(comment).resume? && comment.deleted > 0 %>
            <%= link_to '恢复', resume_comment_path(comment), method: :patch, remote: true %>
        <% end %>
        <% if policy(comment).destroy? && comment.deleted == 0 %>
            <%= link_to '删除', comment, method: :delete, remote: true %>
        <% end %>
        <a data-user-name="<%= comment.user.name %>" class="reply-simple-comment" href="javascript:;">回复</a>
      </div>
    </div>
    <div class="content-wrapper">
      <%= sanitize_comment comment.body %>
    </div>
  </div>
</li>
