<div class="col-sm-7 front-page right-side-layout">
  <div class="row">
    <ol class="breadcrumb pull-left">
      <li>最新动态</li>
    </ol>
  </div>

  <% @topics.each do |topic| %>
      <div class="topic-list-item">
        <div class="author-avatar pull-left">
          <%= avatar topic.user, 40 %>
        </div>
        <div class="topic-content">
          <div class="topic-posts-count pull-right"><%= link_to topic.posts.normal.count - 1, show_topic_path(topic.sid), class: "badge" if topic.posts.normal.count > 1 %></div>
          <div class="topic-title"><%= link_to topic.title, show_topic_path(topic.sid) %></div>
          <div class="topic-info">
            <span class="board-name"><%= link_to topic.board.name, show_board_path(topic.board.path) %></span>
            · 最后由 <%= user_link topic.last_reply_user %> 回复于 <%= time_digest topic.replied_at %>
            </div>
        </div>
      </div>
  <% end %>
</div>
