<div class="col-sm-7 latest-posts right-side-layout">
  <div class="row">
    <ol class="breadcrumb pull-left">
      <li>最新动态</li>
    </ol>
  </div>

  <% @posts.each do |post| %>
      <div class="latest-post-item">
        <div class="author-avatar pull-left">
          <%= avatar post.author, 40 %>
        </div>
        <div class="post-content">
          <div class="post-title"><%= user_link post.author %> 发表了<%= post.parent ? "回帖" : "主帖" %> <%= link_to post.title, show_post_path(post.sid) %> · <%= time_digest post.created_at %></div>
          <div class="post-body"><%= truncate post.body, length: 100, omission: '...' %></div>
          <div class="post-info"><%= link_to post.board.name, show_board_path(post.board.path) %>
            - <%= link_to post.topic.title, show_topic_path(post.topic.sid) %>
            </div>
        </div>
      </div>
  <% end %>
</div>
