<nav class="topic-bar clearfix">
  帖子数：<%= @all_posts.count %>
  <%= paginate @posts, left: 1, right: 1 %>
  <div class="post-links pull-right">
    <% if policy(@topic).update? %>
        <% if @topic.top == 0 %>
            <%= link_to '设为置顶', topic_path(@topic, 'topic[top]' => 1), method: :patch %>
        <% else %>
            <%= link_to '取消置顶', topic_path(@topic, 'topic[top]' => 0), method: :patch %>
        <% end %>
        <% if @topic.is_deleted? %>
            <%= link_to '恢复', resume_topic_path(@topic), method: :patch %>
        <% else %>
            <%= link_to '删除', topic_path(@topic), method: :delete %>
        <% end %>
    <% end %>
    <% if policy(@topic).toggle_lock? %>
        <% if @topic.is_locked? %>
            <%= link_to '解锁', toggle_lock_topic_path(@topic), method: :patch %>
        <% else %>
            <%= link_to '加锁', toggle_lock_topic_path(@topic), method: :patch %>
        <% end %>
    <% end %>
    <%= link_to '新主题', new_board_post_path(@board) %>
    <%= link_to '回复', new_board_post_path(@board, parent: @first.id) %>
  </div>
</nav>