<div class="list-item">
  <div class="author-avatar pull-left">
    <%= avatar topic.user, 40 %>
  </div>
  <div class="content">
    <% posts_count = topic.posts.normal.count %>
    <div class="count pull-right"><%= link_to posts_count - 1, show_topic_path(topic.sid) if posts_count > 1 %></div>
    <div class="title <%= 'top' if topic.top? %>">
      <%= link_to topic.title, show_topic_path(topic.sid) %>
      <%= render partial: 'topics/topic_lock', locals: {topic: topic} %>
    </div>
    <div class="info">
      <span class="board-name"><%= link_to topic.board.name, show_board_path(topic.board.path) %> ·</span>
      <% if posts_count > 1 %>
          <%= user_link topic.user %> · 最后由 <%= user_link topic.last_replying_user %> 回复于 <%= link_to time_digest(topic.last_replied_at), show_post_topic_path(topic, for_post: topic.posts.last.id), title: topic.posts.last.title %>
      <% else %>
          <%= user_link topic.user %> 发表于 <%= link_to time_digest(topic.posts.first.created_at), show_topic_path(topic.sid) %>
      <% end %>
    </div>
  </div>
</div>