<% cache [topic, topic.user.updated_at] do %>
    <div class="list-item">
      <div class="author-avatar pull-left">
        <%= avatar topic.user, 40 %>
      </div>
      <div class="content">
        <% posts_count = topic.posts.normal.count %>
        <div class="count pull-right"><%= link_to posts_count - 1, topic_path(topic) if posts_count > 1 %></div>
        <div class="title">
          <%= link_to topic.title, topic_path(topic) %>
          <%= render partial: 'topics/topic_lock', locals: {topic: topic} %>
        </div>
        <div class="info">
          <span class="board-name"><%= link_to topic.board.name, pretty_path_for_node(topic.board) %></span>
          <span class="board-separator">·</span>
          <% if posts_count > 1 %>
              <%= t('topics._topic_list_item.author_and_replier_info_html', author: user_link(topic.user), replier: user_link(topic.last_replying_user), replied_at: link_to(time_digest(topic.last_replied_at), show_topic_post_path(topic.id, topic.posts.last.id), title: topic.posts.last.title)) %>
          <% else %>
              <%= t('topics._topic_list_item.author_info_html', author: user_link(topic.user), created_at: link_to(time_digest(topic.posts.first.created_at), topic_path(topic))) %>
          <% end %>
        </div>
      </div>
    </div>
<% end %>