<div class="col-sm-9 right-side-layout">
  <div class="row">
    <ol class="breadcrumb pull-left">
      <li><%= link_to 'boards', boards_path %></li>
      <li><%= @board.path %></li>
    </ol>
  </div>
  <%= render 'boards/board_head' %>
  <%= render 'boards/board_intro' %>
  <%= render partial: 'boards/board_nav', locals: {index: 4} %>
  <%= render partial: 'boards/board_admin_nav', locals: {index: 2} %>
  <div>
    <%= render 'topics_paginate_bar' %>
    <table class="topic-list table table-hover">
      <thead>
      <th>主题</th>
      <th class="text-center" style="width: 120px">发起人</th>
      <th class="text-center" style="width: 80px">回应</th>
      <th class="text-center" style="width: 110px">最后回复</th>
      <th class="text-center" style="width: 60px">操作</th>
      </thead>
      <tbody>
      <% @topics.each do |topic| %>
          <tr>
            <td class="topic-title">
              <div><%= link_to topic.title, show_topic_path(topic.sid), title: topic.title %></div>
            </td>
            <td class="text-center"><%= user_link topic.posts.first.author %></td>
            <% count = topic.posts.first.is_deleted? ? topic.posts.normal.count : topic.posts.normal.count - 1 %>
            <td class="text-center"><%= count > 0 ? count : '' %></td>
            <td class="text-right"><%= time_digest topic.replied_at %></td>
            <td class="text-right"><%= link_to '恢复', resume_topic_path(topic), method: :patch %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <%= render 'topics_paginate_bar' %>
  </div>
</div>
