<div class="col-md-10 right-side-layout">
  <%= render partial: 'nodes/breadcrumbs', locals: {node: @board, extras: nil} %>
  <div class="board-main">
    <%= render partial: 'boards/board_head', locals: {board: @board} %>
    <%= render partial: 'boards/board_intro', locals: {board: @board} %>
    <%= render partial: 'boards/board_nav', locals: {board: @board, index: 1} %>
    <div class="board-content">
      <div class="post-list">
        <table class="table top-post-list">
          <tbody>
          <%= render partial: 'posts/top_post_list_item', collection: @top_posts, as: :post %>
          </tbody>
        </table>
      </div>
      <%= render partial: "topics/topic_list_item", as: :topic, collection: @topics %>
    </div>
    <div class="board-pagination">
      <%= paginate @topics, left: 1, right: 1, :theme => 'bootstrap3' %>
    </div>
  </div>
  <%= render partial: 'boards/board_right_side', locals: {board: @board} %>
</div>

