<div class="col-md-10 right-side-layout">
  <div class="row">
    <ol class="breadcrumb pull-left">
      <li><%= link_to 'boards', boards_path %></li>
      <li><%= link_to @board.path, show_board_path(@board.path) %></li>
      <li>topics</li>
    </ol>
  </div>
  <div class="board-main">
    <%= render 'boards/board_head' %>
    <%= render 'boards/board_intro' %>
    <%= render partial: 'boards/board_nav', locals: {index: 1} %>
    <div class="board-content">
      <%= render partial: "topics/topic_list_item", as: :topic, collection: @topics %>
    </div>
  </div>
  <%= render partial: 'boards/board_right_side', locals: {board: @board} %>
</div>

