<div class="row">
  <ol class="breadcrumb pull-left">
    <li><%= link_to 'root', boards_path %></li>
    <li><%= link_to @board.path, board_topics_path(@board) %></li>
    <li><%= @topic.id %></li>
  </ol>
</div>

<div class="row">
  <div class="col-sm-10">
    <% if !@topic.is_deleted? || @board.is_moderator?(current_user) %>
      <div class="topic-head clearfix">
        <h3 class="pull-left">
          <%= @first.title %>
          <% if @topic.is_deleted? %>
            <i class="deleted-mark">已删除</i>
          <% end %>
        </h3>
      </div>
      <%= render 'posts_paginate_bar' %>
      <%= render partial: '/posts/post', collection: @posts, locals: {board: @board} %>
      <%= render 'posts_paginate_bar' %>
    <% else %>
      对不起，此主题已被删除。
    <% end %>
  </div>
  <div class="col-sm-2">

  </div>
</div>
