<% content_for :title do %><%= @topic.title %> - <%= @board.name %><% end %>
<% content_for :description do %><%= (truncate @first.body, length: 200, omission: '...').strip.gsub(/\s+/,'') %><% end %>

<div class="col-sm-10 right-side-layout">
  <%= render partial: 'nodes/breadcrumbs', locals: {node: @board, extras: ['read_topic']} %>

  <% if policy(@topic).show? %>
      <div class="topic-head clearfix">
        <h3 class="pull-left">
          <%= @first.title %>
          <%= render partial: 'topic_lock', locals: {topic: @topic} %>
          <% if @topic.deleted? %>
              <span class="deleted-mark">(<%= t('global.deleted') %>)</span>
          <% end %>
        </h3>
      </div>
      <%= render 'posts_paginate_bar' %>
      <%= render partial: '/posts/post', collection: @posts, locals: {board: @board} %>
      <%= render 'posts_paginate_bar' %>
  <% else %>
      <%= t('views.topics.no_permission_to_show_topic') %>
  <% end %>
</div>
