<% content_for :title do %><%= @topic.title %> - <%= @board.name %><% end %>
<% content_for :description do %><%= (truncate @first.body, length: 200, omission: '...').strip.gsub(/\s+/,'') %><% end %>

<div class="row">
  <ol class="breadcrumb pull-left">
    <li><%= link_to 'boards', boards_path %></li>
    <li><%= link_to @board.path, show_board_path(@board.path) %></li>
    <li><%= link_to 'topics', show_board_path(@board.path) %></li>
    <li><%= @topic.title %></li>
  </ol>
</div>

<div class="row">
  <div class="col-sm-10">
    <% if policy(@topic).show? %>
      <div class="topic-head clearfix">
        <h3 class="pull-left">
          <%= @first.title %>
          <%= render partial: 'topic_lock', locals: {topic: @topic} %>
          <% if @topic.is_deleted? %>
            <span class="deleted-mark">(已删除)</span>
          <% end %>
        </h3>
      </div>
      <%= render 'posts_paginate_bar' %>
      <%= render partial: '/posts/post', collection: @posts, locals: {board: @board} %>
      <%= render 'posts_paginate_bar' %>
    <% else %>
      对不起，您无权访问此主题。
    <% end %>
  </div>
  <div class="col-sm-2">

  </div>
</div>
