<div class="row">
  <ol class="breadcrumb pull-left">
    <li><%= link_to 'root', boards_path %></li>
    <li><%= link_to @board.path, board_topics_path(@board) %></li>
    <li><%= @topic.id %></li>
  </ol>
  <%= link_to '申请新版', new_board_application_path, class: 'breadcrumb pull-right' %>
</div>

<div class="row">
  <div class="col-sm-10">
    <div class="topic-head clearfix">
      <h3 class="pull-left"><%= @first.title %></h3>
    </div>
    <%= render 'posts_paginate_bar' %>
    <%= render partial: '/posts/post', collection: @posts, locals: {board: @board} %>
    <%= render 'posts_paginate_bar' %>
  </div>
  <div class="col-sm-2">

  </div>
</div>
