<h4>管理后台</h4>
<ul class="mb10 nav nav-tabs" role="tablist">
  <li role="presentation" class="<%= "active" if index == 1 %>"><%= link_to '帖子评论', admin_comments_path %></li>
  <li role="presentation" class="<%= "active" if index == 2 %>"><%= link_to '帖子', admin_posts_path %></li>
  <li role="presentation" class="<%= "active" if index == 3 %>"><%= link_to '小黑屋', admin_blocked_users_path %></li>
</ul>
