<%= render partial: 'admin/common/admin_nav', locals: {index: 4} %>
<%= render partial: 'breadcrumbs', locals: { node: @parent, extras: [] } if @parent %>
<%= render 'nodes_paginate_bar' %>
<table class="table table-hover">
  <thead>
  <th>ID</th>
  <th><%= t('global.type') %></th>
  <th><%= t('global.name') %></th>
  <th><%= t('global.path') %></th>
  <th><%= t('global.moderator') %></th>
  <th><%= t('global.status') %></th>
  <th><%= t('global.layer') %></th>
  <th><%= t('global.order') %></th>
  <th><%= t('global.operate') %></th>
  </thead>
  <tbody>
  <%= render @nodes %>
  </tbody>
</table>
<%= render 'nodes_paginate_bar' %>

