<tr id="post-<%= post.id %>">
  <td class="post-title">
    <div>
      <%= link_to post.title, show_post_path(post.sid) %>
      <% if post.elite == 1 && index != 3 %>
          <span class="elite-mark">精</span>
      <% end %>
    </div>
    <div class="digest"><%= truncate post.body, length: 100, omission: '...' %></div>
  </td>
  <td class="text-center"><%= link_to post.board.name, board_path(post.board) %></td>
  <% if index == 4 %>
      <td class="text-center"><%= time_digest post.updated_at %></td>
      <td>
        <% if post.deleted == 0 %>
            <%= link_to "删除", post_path(post, type: 'user'), method: :delete, remote: true %>
        <% else %>
            <%= link_to "恢复", resume_post_path(post, type: 'user'), method: :patch, remote: true %>
        <% end %>
      </td>
  <% else %>
      <td class="text-center"><%= time_digest post.created_at %></td>
  <% end %>
</tr>