<div class="user-profile">
  <%= avatar @user, 160 %>
  <div class="nick"><%= @user.get_nick %></div>
  <div class="name">@<%= @user.name %></div>
  <% if !@user.intro.blank? %><div class="intro"><%= @user.intro %></div><% end %>
  <div class="others">
    <% if !@user.city.blank? %><p><span class="glyphicon glyphicon-map-marker"></span> <%= @user.city %></p><% end %>
    <% if !@user.website.blank? %>
        <p>
          <span class="glyphicon glyphicon-link"></span>
          <%= link_to @user.website.sub(/https?:\/\//, ''), ((@user.website.start_with?('http://') || @user.website.start_with?('https://')) ? '' : 'http://') + @user.website, target: '_blank' %>
        </p>
    <% end %>
    <p><span class="glyphicon glyphicon-time"></span> <%= t('users.joined_at', date: @user.created_at.strftime("%Y-%-m")) %></p>
  </div>
</div>