<ul class="mb10 nav nav-tabs" role="tablist">
  <li role="presentation" class="<%= "active" if index == 1 %>"><%= link_to t('users.profile'), show_user_path(@user.name) %></li>
  <li role="presentation" class="<%= "active" if index == 2 %>"><%= link_to t('global.topic'), show_user_topics_path(@user.name) %></li>
  <li role="presentation" class="<%= "active" if index == 3 %>"><%= link_to t('global.post'), show_user_posts_path(@user.name) %></li>
  <li role="presentation" class="<%= "active" if index == 4 %>"><%= link_to t('global.elite'), show_user_elites_path(@user.name) %></li>
</ul>

<% content_for :title do %>
    <%= @user.get_nick %> - <%= ['', t('global.post'), t('global.topic'), t('global.elite')][index] %>
<% end %>