<% content_for :title do %>
    <%= t('users.update_user') %>
<% end %>

<div class="update-user-form">
  <h3 class="title"><%= t('users.update_user') %></h3>
  <%= render partial: 'update_nav', locals: {index: 3} %>
  <div class="bind-accounts-container">
    <table class="table table-hover">
      <tbody>
      <tr>
        <td>GitHub</td>
        <td><%= @user.github_user_name.empty? ? '未绑定' : link_to(@user.github_user_name, 'https://github.com/' + @user.github_user_name, target: '_blank') %></td>
        <td>
          <% if @user.github_user_name.empty? %>
            <%= link_to t('users.bind_account'), user_omniauth_authorize_path(:github), id: 'bind-github-account' %>
          <% else %>
            <%= link_to t('users.unbind_account'), unbind_account_user_path(@user, type: 'github'), method: :patch, id: 'unbind-github-account' %>
          <% end %>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
