<% content_for :title do %>
    <%= t('users.update_user') %>
<% end %>

<div class="update-user-form">
  <h3 class="title"><%= t('users.update_user') %></h3>
  <%= render partial: 'update_nav', locals: {index: 1} %>
  <%= simple_form_for(@user, url: user_path(@user), :html => {:method => :put, :role => 'form'}) do |f| %>
      <%= f.input :nick, label: t('users.nick'), hint: t('users.nick_hint') %>
      <%= f.input :city, label: t('users.city'), hint: t('users.city_hint') %>
      <%= f.input :intro, label: t('users.intro'), hint: t('users.intro_hint') %>
      <%= f.input :website, label: t('users.website'), placeholder: t('users.website_placeholder'), hint: t('users.website_hint') %>
      <%= f.input :enable_email_notification, as: :boolean, checked_value: true, unchecked_value: false, label: "启用 Email 提醒", hint: "打开之后，一旦有新的提醒信息就会给你发送一封邮件" %>

      <div class="btn-container">
        <%= f.submit t('action.update'), :class => 'button' %>
      </div>
  <% end %>
</div>
