<% content_for :left_side do %>
    <%= render 'profile_left' %>
<% end %>
<div class="col-sm-9 right-side-layout">
  <%= render partial: 'profile_nav', locals: {index: index} %>
  <div class="list-content">
    <%= render 'posts_paginate_bar' %>
    <table class="table table-hover">
      <thead>
      <th>文章</th>
      <th class="text-center" style="width: 160px">所在版面</th>
      <% if index == 4 %>
          <th class="text-center" style="width: 110px">更新时间</th>
          <th style="width: 100px">操作</th>
      <% else %>
          <th class="text-center" style="width: 110px">发表时间</th>
      <% end %>
      </thead>
      <tbody>
      <% @posts.each do |post| %>
        <%= render partial: 'post', locals: {post: post, index: index} %>
      <% end %>
      </tbody>
    </table>
    <%= render 'posts_paginate_bar' %>
  </div>
</div>
