<% content_for :left_side do %>
    <%= render 'profile_left' %>
<% end %>
<div class="col-lg-7 col-md-8 right-side-layout">
  <%= render partial: 'profile_nav', locals: {index: 1} %>
  <div class="user-profile">
    <div class="profile-title">
      <span><%= t('users.contributes') %></span>
    </div>
    <div class="profile-content">
      <div class="contribute-row clearfix">
        <div class="contribute-item panel panel-default">
          <div class="panel-body">
            <div class="subject"><%= t('global.topic') %></div>
            <div class="count">123</div>
          </div>
        </div>
        <div class="contribute-item panel panel-default">
          <div class="panel-body">
            <div class="subject"><%= t('global.post') %></div>
            <div class="count">123</div>
          </div>
        </div>
        <div class="contribute-item panel panel-default">
          <div class="panel-body">
            <div class="subject"><%= t('global.comment') %></div>
            <div class="count">123</div>
          </div>
        </div>
      </div>
      <div class="contribute-row clearfix">
        <div class="contribute-item panel panel-default">
          <div class="panel-body">
            <div class="subject"><%= t('global.elite') %></div>
            <div class="count">123</div>
          </div>
        </div>
        <div class="contribute-item panel panel-default">
          <div class="panel-body">
            <div class="subject"><%= t('global.got_likes') %></div>
            <div class="count">123</div>
          </div>
        </div>
        <div class="contribute-item panel panel-default">
          <div class="panel-body">
            <div class="subject"><%= t('global.accepted_pr') %></div>
            <div class="count">123</div>
          </div>
        </div>
      </div>
    </div>
    <% if @user.managing_boards.count > 0 %>
        <div class="profile-title">
          <span><%= t('users.managing_baords') %></span>
        </div>
        <div class="profile-content">
          <% @user.managing_boards.each do |board| %>
          <%= link_to board.name, pretty_path_for_node(board), class: 'board-link-item' %>
          <% end %>
        </div>
    <% end %>
  </div>
</div>
