<% content_for :title do %>
    <%= t('users.reset_password') %>
<% end %>

<% content_for :left_side do %>
    &nbsp;
<% end %>

<div class="authform">
  <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :put}) do |f| %>
      <h3><%= t('users.reset_password') %></h3>
      <% if resource.errors[:reset_password_token].presence %>
          <div class="has-error">
            <p class="help-block"><%= t('users.token_expired') %></p>
          </div>
      <% end %>
      <%= f.hidden_field :reset_password_token %>
      <%= f.input :password, label: t('users.password'), hint: t('users.password_hint') %>
      <%= f.input :password_confirmation, label: t('users.password_confirmation'), hint: t('users.password_confirmation_hint') %>
      <%= f.submit t('users.reset_password'), :class => 'button right' %>
  <% end %>
</div>
