<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f| %>
    <h3>忘记密码了？</h3>
    <p>我们给你发邮件重设密码</p>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :email, '邮件地址' %>
      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
    </div>
     <%= f.submit '重设密码', :class => 'button right' %>
  <% end %>
</div>
