<% content_for :title do %>
    <%= t('users.forgot_password') %>
<% end %>

<% content_for :left_side do %>
    &nbsp;
<% end %>

<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f| %>
    <h3><%= t('users.ask_if_forget_password') %></h3>
    <p><%= t('users.we_will_send_email_reseting_password') %></p>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :email, t('users.email') %>
      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
    </div>
     <%= f.submit t('users.reset_password'), :class => 'button right' %>
  <% end %>
</div>
