<p id="notice"><%= notice %></p>

<h1>Listing Elite Posts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @elite_posts.each do |elite_post| %>
      <tr>
        <td><%= link_to 'Show', elite_post %></td>
        <td><%= link_to 'Edit', edit_elite_post_path(elite_post) %></td>
        <td><%= link_to 'Destroy', elite_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_elite_post_path %>
