<% content_for :title do %><%= @elite_post.title %> - <%= @elite_post.author.nick %> @<%= @elite_post.author.name %> - <%= @elite_post.board.name %>
<% end %>
<% content_for :description do %><%= (truncate h(@elite_post.body), length: 200, omission: '...').strip.gsub(/\s+/, '') %>
<% end %>
<% content_for :author do %><%= @elite_post.author.nick %> @<%= @elite_post.author.name %>
<% end %>

<div class="col-sm-10 right-side-layout">
  <%= render partial: 'nodes/breadcrumbs', locals: {node: @elite_post.board, extras: elite_breadcrumbs(@elite_post).push('read_elite')} %>

  <div class="show-post">
    <% if policy(@elite_post).show? %>
        <nav class="topic-bar clearfix">
          <%= link_to '返回精华区目录', elite_category_path(@elite_post.parent) %>
          <% if @elite_post.original %>
              &nbsp;&nbsp;<%= link_to '查看原贴', post_path(@elite_post.original) %>
          <% end %>
        </nav>
        <%= render partial: 'show_post', locals: { post: @elite_post } %>
    <% else %>
        对不起，此贴已被删除。
    <% end %>
  </div>
</div>
