<%= render partial: 'admin/common/admin_nav', locals: {index: 6} %>
<%= render 'admin/elite/nodes/elite_nodes_filter' %>
<div class="elite-mng">
  <%= render 'elites_paginate_bar' %>
  <table class="table table-hover">
    <thead>
    <th style="width: 60px">ID</th>
    <th style="width: 20px"></th>
    <th style="width: 400px"><%= t('global.title') %></th>
    <th style="width: 80px"><%= t('global.author') %></th>
    <th style="width: 80px"><%= t('views.admin.elite.nodes.operator') %></th>
    <th style="width: 100px"><%= t('views.admin.elite.nodes.operated_at') %></th>
    <th style="width: 50px"><%= t('global.order') %></th>
    <th style="width: 50px"><%= t('global.layer') %></th>
    <th style="width: 50px"><%= t('global.status') %></th>
    <th><%= t('global.operate') %></th>
    </thead>
    <tbody>
    <%= render @nodes %>
    </tbody>
  </table>
  <%= render 'elites_paginate_bar' %>
</div>