<%= render partial: 'admin/common/admin_nav', locals: {index: 3} %>
<div class="blocked-users-mng">
  <%= render 'blocked_users_filter_and_adder' %>
  <%= render 'blocked_users_paginate_bar' %>
  <table class="table table-hover">
    <thead>
    <th>ID</th>
    <th>被封用户</th>
    <th>所在板块</th>
    <th>操作人</th>
    <th>封禁时间</th>
    <th>操作</th>
    </thead>
    <tbody>
    <%= render @blocked_users %>
    </tbody>
  </table>
  <%= render 'blocked_users_paginate_bar' %>
</div>