<div class="col-sm-10 right-side-layout">
  <%= render partial: 'nodes/breadcrumbs', locals: {node: @elite_category.board, extras: elite_breadcrumbs(@elite_category).push(@elite_category.layer == 0 ? 'elites' : @elite_category.name)} %>
  <div class="board-main">
    <%= render partial: 'boards/board_head', locals: {board: @elite_category.board} %>
    <%= render partial: 'boards/board_intro', locals: {board: @elite_category.board} %>
    <%= render partial: 'boards/board_nav', locals: {board: @elite_category.board, index: 3} %>

    <div class="elite-category">

      <table class="table table-hover">
        <thead>
        <th class="node-mark"></th>
        <th class="title">标题</th>
        <th class="moderator hidden-xs">整理</th>
        <th class="date hidden-xs">编辑日期</th>
        </thead>
        <tbody>
        <% if @elite_category.layer > 0 %>
            <td class="node-mark node-mark-category"><span class="glyphicon glyphicon-folder-close"></span></td>
            <td class="title"><%= link_to "返回上一级目录", elite_category_path(@elite_category.parent) %></td>
            <td class="moderator hidden-xs"></td>
            <td class="date hidden-xs"></td>
        <% end %>
        <%= render @children %>
        </tbody>
      </table>

      <div class="board-pagination">
        <%= paginate @children, left: 1, right: 1, :theme => 'bootstrap3' %>
      </div>
    </div>
  </div>
  <%= render partial: 'boards/board_right_side', locals: {board: @elite_category.board} %>
</div>

