<%= form_for(@board_application) do |f| %>
  <% if @board_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@board_application.errors.count, "error") %> prohibited this board_application from being saved:</h2>

      <ul>
      <% @board_application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="form-group">
      <%= f.label '名称' %>
      <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label '路径' %>
      <%= f.text_field :path, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label '申请理由' %>
      <%= f.text_area :reason, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label '治版方针' %>
      <%= f.text_area :strategy, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label '版面规定' %>
      <%= f.text_area :rule, class: 'form-control' %>
    </div>
    <%= f.submit '提交', :class => 'button right' %>
<% end %>
