<div class="row">
  <ol class="breadcrumb pull-left">
    <li><%= link_to 'root', boards_path %></li>
    <li>版面申请</li>
  </ol>
  <%= link_to '申请新版', new_board_application_path, class: 'breadcrumb pull-right' %>
</div>

<h3>版面申请</h3>

<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>版面名称</th>
      <th>版面路径</th>
      <th>申请人</th>
      <th>当前状态</th>
      <th colspan="3">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @board_applications.each do |board_application| %>
      <tr>
        <td><%= board_application._id %></td>
        <td><%= link_to board_application.name, board_application %></td>
        <td><%= link_to board_application.path, board_application %></td>
        <td><%= link_to board_application.applicant.name, board_application.applicant %></td>
        <td><%= board_application.status %></td>
        <td>
          <%= link_to 'Approve', approve_board_application_path(board_application), method: :patch %>
          <%= link_to 'Reject', reject_board_application_path(board_application), method: :patch %>
          <%= link_to 'Destroy', board_application, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Board application', new_board_application_path %>
