<div class="board-nav">
  <div class="post-button pull-right"><%= link_to new_board_post_path(@board) do %><button type="button" class="btn btn-success btn-sm">发 帖</button><% end %></div>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="<%= "active" if index == 1 %>"><%= link_to '主题', board_path(@board) %></li>
    <li role="presentation" class="<%= "active" if index == 2 %>"><%= link_to '帖子', board_posts_path(@board) %></li>
    <li role="presentation" class="<%= "active" if index == 3 %>"><%= link_to '精华区', elites_board_posts_path(@board) %></li>
  </ul>
</div>
<% content_for :title do %><%= @board.name %> - <%= ['', '主题', '帖子', '精华区', '版主专用'][index] %>
<% end %>
<% content_for :description do %><%= @board.intro %>
<% end %>
