<tr id="node-<%= category.id %>">
  <td><%= category.id %></td>
  <td><%= category._type %></td>
  <td><%= link_to category.name, show_board_path(category.path) %></td>
  <td><%= link_to category.path, show_board_path(category.path) %></td>
  <td></td>
  <td></td>
  <td><%= time_digest category.updated_at %></td>
  <td>
  </td>
</tr>
