<%= simple_form_for(@category, url: @category.new_record? ? admin_categories_path : admin_category_path(@category)) do |f| %>
    <%= f.input :name, label: t('global.name') %>
    <%= f.input :path, label: t('global.path') %>
    <%= f.input :parent_id, label: t('views.admin.categories.parent_id') %>

    <div class="actions clearfix">
      <%= f.submit t('views.action.submit'), :class => 'button right' %>
    </div>
<% end %>
