<%= simple_form_for(@category, url: @category.new_record? ? admin_categories_path : admin_category_path(@category)) do |f| %>
    <%= f.input :name, label: '名称' %>
    <%= f.input :path, label: '路径' %>
    <%= f.input :parent_id, label: '父节点ID' %>

    <div class="actions clearfix">
      <%= f.submit '提交', :class => 'button right' %>
    </div>
<% end %>
