<%= simple_form_for(@board ? [@board, @post] : @post) do |f| %>

    <%= f.input :title, label: '标题', hint: '40个以内任意字符', required: false, input_html: {value: @parent ? 'Re: ' + @parent.title : @post.title}, autofocus: true %>
    <div class="form-group">
      <%= f.label '内容' %>
      <%= f.text_area :body, class: 'form-control', rows: 20 %>
      <p class="help-block" style="color: red">* 内容须采用 Markdown 语法书写
        <a href="http://wowubuntu.com/markdown/" target="_blank">语法说明</a></p>
    </div>
    <% if @parent %>
        <%= f.hidden_field :parent, value: @parent.id %>
        <%= f.hidden_field :topic_id, value: @parent.topic.id %>
    <% else %>
        <div class="form-group">
          <label>附加功能：</label>
          <%= check_box_tag :lock, 'true' %> 主题加锁
        </div>
    <% end %>

    <div class="actions center mt20 clearfix">
      <%= f.submit '发表', class: 'btn btn-primary' %>
    </div>
<% end %>
