<%= simple_form_for(@board ? [@board, @post] : @post) do |f| %>

    <%= f.input :title, label: '标题', hint: '40个以内任意字符', required: false, input_html: {value: @post.parent && @post.title.blank? ? 'Re: ' + @post.parent.title : @post.title}, autofocus: true %>
    <div class="form-group">
      <%= f.label '内容' %>
      <%= f.text_area :body, class: 'form-control', rows: 20 %>
      <p class="help-block" style="color: red">* 内容须采用 Markdown 语法书写
        <a href="https://www.zybuluo.com/mdeditor?url=https://www.zybuluo.com/static/editor/md-help.markdown" target="_blank">语法说明和练习</a></p>
    </div>
    <% if @post.new_record? %>
        <% if @post.parent %>
            <%= f.hidden_field :parent_id, value: @post.parent.id %>
        <% else %>
            <div class="form-group">
              <label>附加功能：</label>
              <%= check_box_tag :lock, 'true' %> 主题加锁
            </div>
        <% end %>
    <% end %>

    <div class="actions center mt20 clearfix">
      <%= f.submit '发表', class: 'btn btn-primary' %>
      <%= f.submit '预览', class: 'btn btn-default', name: "preview" %>
    </div>
<% end %>
