<%= simple_form_for(@board ? [@board, @post] : @post) do |f| %>

    <%= f.input :title, label: '标题', hint: '40个以内任意字符', required: false, input_html: { value: @parent ? 'Re: ' + @parent.title : '' }, autofocus: true %>
    <div class="form-group">
      <%= f.label '内容' %>
      <%= f.text_area :body, class: 'form-control', rows: 20 %>
    </div>
    <% if @parent %>
      <%= f.hidden_field :parent, value: @parent.id %>
      <%= f.hidden_field :topic_id, value: @parent.topic.id %>
    <% end %>

  <div class="actions center clearfix">
    <%= f.submit '发表', class: 'btn btn-primary' %>
  </div>
<% end %>
