<% cache_unless post.new_record?, post.new_record? ? [] : [post, current_user && current_user.has_liked?(post), policy(post).set_elite?, policy(post).unset_elite?, policy(post).destroy?, policy(post).resume?, policy(post).resume?, policy(post).update?] do %>
    <div id="post-<%= post.id %>-container" class="post-container">
      <div id="floor-<%= post.floor || 'preview' %>" name="floor-<%= post.floor || 'preview' %>" class="post-item panel panel-default post-id-<%= post.id %>">
        <div class="panel-body">
          <div class="pull-left">
            <%= avatar(post.author) %>
          </div>
          <div class="post-detail">
            <% if !post.new_record? %>
                <%= link_to post_path(post) do %>
                    <div class="floor pull-right">#<%= post.floor %></div>
                <% end %>
            <% end %>
            <h4 class="<%= 're-title' if post.title.start_with?('Re:') %>">
              <% if !post.new_record? %>
                  <%= link_to post.title, post_path(post) %>
              <% else %>
                  <%= post.title %>
              <% end %>
            </h4>

            <div class="post-author">
              <%= full_user_link post.author %>
              <% if post.parent %>
                  <%= t('posts.reply_info_html', parent_author: user_link(post.parent.author), parent_floor: link_to('#' + post.parent.floor.to_s, post_path(post.parent), title: "#{post.parent.title}")) %>
              <% end %>
              <% if !post.new_record? %>
                  · <%= time_digest post.created_at %>
                  <% if post.is_elite? %>
                      &nbsp;<%= link_to post.elite_post do %><span class="elite-mark"><%= t('global.elite') %></span>
                      <% end %>
                  <% end %>
                  <% if post.deleted? %>
                      &nbsp;<span class="deleted-mark">(<%= t('global.deleted') %>)</span>
                  <% end %>
              <% end %>
            </div>
            <div class="markdown-content"><%= sanitize_post post.body_html %></div>
            <% if !post.new_record? %>
                <div class="post-footer clearfix">
                  <div class="pull-left">
                    <%= render partial: 'posts/post_likes', locals: {user: current_user, post: post} %>
                    <% social_share_button_tag t('posts.social_share_content', title: post.title), url: post_url(post), via: 'ogxio', 'data-twitter-title' => t('posts.social_share_content_for_twitter', title: post.title) %>
                  </div>
                  <div class="pull-right">
                    <ul class="list-inline">
                      <% if post.is_top? && policy(post).top_up? && policy(post).top_clear? %>
                          <li><%= link_to t('action.top_up_post') + "(#{post.top})", top_up_post_path(post), method: :patch, remote: true %></li>
                          <li><%= link_to t('action.untop_post'), top_clear_post_path(post), method: :patch, remote: true %></li>
                      <% elsif !post.is_top? && policy(post).top_up? %>
                          <li><%= link_to t('action.top_post'), top_up_post_path(post), method: :patch, remote: true %></li>
                      <% end %>
                      <% if post.is_elite? && policy(post).unset_elite? %>
                          <li><%= link_to t('action.unelite_post'), unset_elite_post_path(post), method: :patch, remote: true, class: 'set-elite' %></li>
                      <% elsif !post.is_elite? && policy(post).set_elite? %>
                          <li><%= link_to t('action.elite_post'), set_elite_post_path(post), method: :patch, remote: true, class: 'set-elite' %></li>
                      <% end %>
                      <% if !post.deleted? && policy(post).destroy? %>
                          <li>
                            <%= link_to t('action.delete'), post_path(post), method: :delete, remote: true %>
                          </li>
                      <% end %>
                      <% if post.deleted? && policy(post).resume? %>
                          <li>
                            <%= link_to t('action.resume'), resume_post_path(post), method: :patch, remote: true %>
                          </li>
                      <% end %>
                      <% if policy(post).update? %>
                          <li>
                            <%= link_to t('action.modify'), edit_post_path(post) %>
                          </li>
                      <% end %>
                      <li>
                        <%= link_to t('action.comment') + (post.comments.normal.count > 0 ? "(#{post.comments.normal.count})" : ''), comments_post_path(post), remote: true, class: 'toggle-post-comments', 'data-post-id' => post.id %>
                      </li>
                      <li>
                        <%= link_to t('action.reply'), 'javascript:;', class: 'fast-reply' %>
                      </li>
                    </ul>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="comment-container"></div>
      <div class="reply-container hide">
        <div class="reply-form well">
          <%= simple_form_for([@board, Post.new], html: {class: "post-form"}, remote: true) do |f| %>
              <%= f.input :title, label: false, required: false, placeholder: default_reply_title(post), autofocus: true %>
              <div class="form-group">
                <%= f.label t('global.content') %>
                <div class="pull-right"><a id="post-add-pic" href="javascript:;"><%= t('action.add_picture') %></a>
                </div>
                <input id="post-upload-images" class="hidden" type="file">
                <%= f.hidden_field :parent_id, value: post.id %>
                <%= f.text_area :body, class: 'form-control post-editor', rows: 6 %>
              </div>
              <div class="clearfix">
                <div class="help-block pull-left" style="color: red">* <%= t('posts._form.need_markdown') %>
                  <a href="https://www.zybuluo.com/mdeditor?url=https://www.zybuluo.com/static/editor/md-help.markdown" target="_blank"><%= t('posts._form.markdown_help') %></a>
                </div>

                <div class="actions pull-right">
                  <ul class="list-inline">
                    <li>
                      <%= link_to new_board_post_path(@board, parent_id: post.id) do %>
                          <button type="button" class="post-form-button btn btn-default btn-sm"><%= t('posts._form.switch_to_single_page') %></button>
                      <% end %>
                    </li>
                    <li>
                      <%= f.submit t('action.post'), class: 'post-form-button btn btn-primary btn-sm' %>
                    </li>
                  </ul>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
<% end %>