<div id="post-<%= post.id %>" name="post-<%= post.id %>" class="post-item panel panel-default">
  <div class="panel-body">
    <div class="avatar pull-left">
      <%= avatar(post.author) %>
      <p class="text-center"><%= user_link post.author %></p>
    </div>
    <div class="post-detail">
      <div class="floor pull-right">#<%= post.id %></div>
      <h4>
        <%= post.title %>
        <i class="elite-mark" style="<%= 'display: none' if post.elite == 0 %>">精华帖</i>
        <% if post.is_deleted? %>
          <i class="deleted-mark">已删除</i>
        <% end %>
      </h4>
      <div class="post-content">
        <%= post.body %>
      </div>
      <div class="post-footer clearfix">
        <div class="post-time pull-left">发表于 <%= post.created_at.strftime("%F %T") %></div>
        <div class="pull-right">
          <ul class="list-inline">
            <% if policy(post).toggle? %>
            <li>
              <% if post.elite == 1 %>
                <%= link_to '取消精华', toggle_post_path(post, 'post[elite]' => 1), method: :patch, remote: true, class: 'set-elite' %>
              <% else %>
                <%= link_to '设为精华', toggle_post_path(post, 'post[elite]' => 1), method: :patch, remote: true, class: 'set-elite' %>
              <% end %>
            </li>
            <% end %>
            <% if policy(post).destroy? %>
            <li>
              <%= link_to '删除', post_path(post), method: :delete, remote: true, class: 'delete-post' %>
            </li>
            <% end %>
            <li>
              <%= link_to '回复', new_board_post_path(board, parent: post.id) %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
