<div class="post-preview-container col-sm-10 right-side-layout">
  <%= render partial: 'nodes/breadcrumbs', locals: {node: @board, extras: ["<a class=\"back-to-editor\" href=\"javascript:;\">#{type}_post</a>".html_safe, 'preview']} %>

  <h4><%= t('global.preview_post') %></h4>
  <div class="show-post">
    <%= render partial: 'post', locals: {post: @post, board: @board} %>
    <ul class="list-inline center">
      <li>
        <button type="button" class="submit-post-form post-form-button btn btn-primary"><%= t('action.post') %></button>
      </li>
      <li>
        <button type="button" class="back-to-editor post-form-button btn btn-default"><%= t('action.continue_editing') %></button>
      </li>
    </ul>
  </div>
</div>
