<div class="reply-form well">
  <%= simple_form_for([post.board, Post.new], html: {class: "post-form"}, remote: true) do |f| %>
      <%= f.input :title, label: false, required: false, placeholder: default_reply_title(post), autofocus: true %>
      <div class="form-group">
        <%= f.label t('global.content') %>
        <div class="pull-right"><a id="post-add-pic" href="javascript:;"><%= t('action.add_picture') %></a>
        </div>
        <input id="post-upload-images" class="hidden" type="file">
        <%= f.hidden_field :parent_id, value: post.id %>
        <%= f.text_area :body, class: 'form-control post-editor', rows: 6 %>
      </div>
      <div class="clearfix">
        <div class="help-block pull-left" style="color: red">* <%= t('posts._form.need_markdown') %>
          <a href="https://www.zybuluo.com/mdeditor?url=https://www.zybuluo.com/static/editor/md-help.markdown" target="_blank"><%= t('posts._form.markdown_help') %></a>
        </div>

        <div class="actions pull-right">
          <ul class="list-inline">
            <li>
              <%= link_to new_board_post_path(post.board, parent_id: post.id) do %>
                  <button type="button" class="switch-reply-page-button post-form-button btn btn-default btn-sm"><%= t('posts._form.switch_to_single_page') %></button>
              <% end %>
            </li>
            <li>
              <%= f.submit t('action.post'), class: 'post-form-button btn btn-primary btn-sm' %>
            </li>
          </ul>
        </div>
      </div>
  <% end %>
</div>