<div class="col-sm-10 right-side-layout">
  <%= render partial: 'nodes/node_path', locals: {node: @board, extras: ['elites']} %>

  <div class="board-main">
    <%= render 'boards/board_head' %>
    <%= render 'boards/board_intro' %>
    <%= render partial: 'boards/board_nav', locals: {index: 3} %>
    <div class="board-content">
      <div class="elites">
        <%= render partial: "posts/post_list_item", as: :post, collection: @posts %>
      </div>
    </div>
  </div>
  <%= render partial: 'boards/board_right_side', locals: {board: @board} %>
</div>
