<div class="row">
  <ol class="breadcrumb pull-left">
    <li><%= link_to 'root', boards_path %></li>
    <li><%= @board.path %></li>
  </ol>
</div>

<div class="row">
  <%= render 'boards/board_head' %>
  <div class="col-sm-9">
    <%= render 'boards/board_intro' %>
    <%= render partial: 'boards/board_nav', locals: {index: 2} %>
    <div class="topic-bar clearfix mb10">
      <div class="pull-left">帖子数：<%= @board.posts.count %></div>
      <div class="pull-right"><%= link_to '发表文章', new_board_post_path, class: 'pull-right' %></div>
    </div>
    <% @posts.each do |post| %>
      <div class="list-item panel panel-default">
        <div class="panel-body">
          <img src="<%= post.author.get_avatar(70) %>" class="img-rounded pull-left">
          <div class="list-detail">
            <%= link_to post.title, board_topic_path(@board, post.topic) %>
            <div class="list-detail-body">
              <%= truncate post.body, length: 90, omission: '...' %>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="clearfix">
          <div class="pull-left">
            <span><%= link_to post.author.name, post.author %></span> 发表于 <span><%= post.created_at.strftime("%F %T") %></span>
          </div>
          <div class="pull-right">
            <ul class="list-inline">
              <li>
                <a href="#">
                  <span>回复</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
              </li>
            </ul>
          </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-sm-3">

  </div>
</div>

