<div class="row">
  <ol class="breadcrumb pull-left">
    <li><%= link_to 'boards', boards_path %></li>
    <li><%= link_to @board.path, board_topics_path(@board) %></li>
    <li>发表文章</li>
  </ol>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="clearfix mb10">
      <% if @parent %>
          <h4 class="no-margin mb10 pull-left">回复 <%= link_to @parent.title, @parent %></h4>
      <% else %>
          <h4 class="no-margin mb10 pull-left">新建主题</h4>
      <% end %>
    </div>
  </div>
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <%= render 'form' %>
  </div>
  <div class="col-sm-2"></div>
</div>

<%= render 'common/touclick' %>