<div class="edit-post-container col-sm-8 right-side-layout">
  <%= render partial: 'nodes/breadcrumbs', locals: {node: @board, extras: ['new_post']} %>
  <h4>
    <% if @post.parent %>
        <%= t('action.reply') %> <%= link_to @post.parent.title, @post.parent, target: '_blank' %>
    <% else %>
        <%= t('action.new_topic') %>
    <% end %>
  </h4>
  <%= render 'form' %>
</div>
