<div class="row">
  <ol class="breadcrumb pull-left">
    <li><%= link_to 'boards', boards_path %></li>
    <li><%= link_to @board.path, show_board_path(@board.path) %></li>
    <li>发表文章</li>
  </ol>
</div>

<div class="row">
  <div class="col-sm-2"></div>
  <div class="new-post col-sm-8">
    <h4>
      <% if @parent %>
          回复 <%= link_to @parent.title, @parent %>
      <% else %>
          新建主题
      <% end %>
    </h4>
    <%= render 'form' %>
  </div>
  <div class="col-sm-2"></div>
</div>

<%= render 'common/touclick' %>