<% content_for :title do %><%= @post.title %> - <%= @post.author.nick %> - <%= @board.name %><% end %>
<% content_for :description do %><%= (truncate h(@post.body), length: 200, omission: '...').strip.gsub(/\s+/,'') %><% end %>

<div class="row">
  <ol class="breadcrumb pull-left">
    <li><%= link_to 'boards', boards_path %></li>
    <li><%= link_to @board.path, show_board_path(@board.path) %></li>
    <li><%= link_to 'posts', list_board_posts_path(@board.path) %></li>
    <li><%= @post.title %></li>
  </ol>
</div>

<div class="row">
  <div class="col-sm-10">
    <% if !@post.is_deleted? || @board.is_moderator?(current_user) %>
      <nav class="topic-bar clearfix">
        本帖所在主题：<%= link_to @post.topic.title, @post.topic %>
        <div class="post-links pull-right">
          <%= link_to '在主题内查看', show_post_topic_path(@post.topic, for_post: @post.id) + '#post-' + @post.id.to_s %>
        </div>
      </nav>
      <%= render partial: 'post', locals: {post: @post, board: @board} %>
    <% else %>
      对不起，此贴已被删除。
    <% end %>
  </div>
  <div class="col-sm-3">

  </div>
</div>
