<% content_for :title do %><%= @post.title %> - <%= @post.author.nick %> @<%= @post.author.name %> - <%= @board.name %>
<% end %>
<% content_for :description do %><%= (truncate h(@post.body), length: 200, omission: '...').strip.gsub(/\s+/, '') %>
<% end %>
<% content_for :author do %><%= @post.author.nick %> @<%= @post.author.name %>
<% end %>

<div class="col-sm-10 right-side-layout">
  <%= render partial: 'nodes/breadcrumbs', locals: {node: @board, extras: ['read_post']} %>

  <div class="show-post">
    <% if policy(@post).show? %>
        <nav class="topic-bar clearfix">
          <%= t('posts.topic_for_post') %>: <%= link_to @post.topic.title, @post.topic %>
          -
          <%= link_to t('posts.show_in_topic'), show_topic_post_path(@post.topic.sid, @post.sid) %>
        </nav>
        <%= render partial: 'post', locals: {post: @post, board: @board} %>
    <% else %>
        <%= t('posts.no_permission_to_show_post') %>
    <% end %>
    <% if policy(@post).comment? || @post.comments.normal.count > 0 %>
    <%= render partial: 'post_comment_panel', locals: {post: @post} %>
    <% end %>
  </div>
</div>
