<%= render partial: 'admin/common/admin_nav', locals: {index: 5} %>
<%= render 'users_paginate_bar' %>
<table class="table table-hover">
  <thead>
  <th>ID</th>
  <th><%= t('users.avatar') %></th>
  <th><%= t('users.user_name') %></th>
  <th><%= t('users.nick') %></th>
  <th><%= t('users.email') %></th>
  <th><%= t('admin.users.sign_in_times') %></th>
  <th><%= t('admin.users.last_signed_in_at') %></th>
  <th><%= t('admin.users.last_visited_at') %>最后访问</th>
  <th><%= t('admin.users.role') %></th>
  <th><%= t('admin.users.operator') %></th>
  </thead>
  <tbody>
  <% @users.each do |user| %>
  <%= render user %>
  <% end %>
  </tbody>
</table>
<%= render 'users_paginate_bar' %>

