<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) + ' - OGX.io社区' : "OGX.io社区 - 开源、共建、好玩的社区 - 极客们的网上家园" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "OGX.io 论坛 - 极客们的网上家园 - 开源、共建、开放、包容的社区" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
