<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) + ' - ' + t('global.ogx') : t('layout.ogx_desc') %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : t('layout.ogx_desc') %>">
    <% if content_for?(:author) %>
      <meta name="author" content="<%= yield(:author) %>">
    <% end %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= render 'layouts/left_side' %>
       <%= yield %>
    </main>
    <footer>
      <a href="http://www.qiniu.com/" target="_blank">
        <img src="http://assets.qiniu.com/qiniu-transparent.png">
      </a>
    </footer>
    <%= render 'layouts/access_analytics' %>
  </body>
</html>
